<ion-tabs class="tabs-icon-top tabs-stable">

<!-- home  -->
	<ion-tab title="Home"
		icon="ion-ios-home-outline"
	  href="#/tab/home">
	<ion-nav-view name="home-tab"></ion-nav-view>

<!-- Features -->
	<ion-tab title="Features"
		icon="ion-earth"
	  href="#/tab/features">
	<ion-nav-view name="features-tab"></ion-nav-view>

<!-- Concerts -->
	<ion-tab title="Concerts"
		icon="ion-mic-c"
		href="#/tab/concerts">
	<ion-nav-view name="concerts-tab"></ion-nav-view>

<!-- Calendar -->
	<ion-tab title="Calendar"
		icon="ion-calendar"
		href="#/tab/calendar">
	<ion-nav-view name="calendar-tab"></ion-nav-view>
</ion-tabs>
