<ion-tabs class="tabs-icon-top tabs-dark">

	<!-- home - sign in -->
	<ion-tab title="Sign-In"
		icon="ion-home"
	  href="#/tab/signIn">
	<ion-nav-view name="signIn-tab"></ion-nav-view>

	<!-- Featured -->
	<ion-tab title="Featured"
		href="#/tab/features">
	<ion-nav-view name="features-tab"></ion-nav-view>

<!-- Concerts -->
	<ion-tab title="Concerts"
		href="#/tab/concerts">
	<ion-nav-view name="concerts-tab"></ion-nav-view>

<!-- Special Event -->
	<!-- <ion-tab title="Special Events"
		href="#/tab/special">
	<ion-nav-view name="special-tab"></ion-nav-view> -->
</ion-tabs>
