<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Logo</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="/users/register">Register</a></li>
                  <li><a href="/users/login">Login</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Permission To Access Location.</h1>
            <p class="lead">Please allow this app to access your current location.</p>
            <p class="lead">
              <a href="/access/granted" class="btn btn-lg btn-default">Allow</a>
            </p>
						<p class="lead">
              <a href="/access/deny" class="btn btn-lg btn-default">Deny</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Being developed for <a href="/"> The AD-HuB APP</a>, by <a href="https://twitter.com/checkkdahustle">@checkkdahustle</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>
