/* Empty. Add your own CSS if you like */

body {
  cursor: url('http://ionicframework.com/img/finger.png');
}

.star>.item-content{
	background-color: #eee8d6 !important;
}

.splash {
  background: url(../img/concerts-audience.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.branding {
  width: 50%;
  max-width: 200px;
  margin: 0 auto;
  margin-top: 20px;
	position: relative;
	bottom: 60px;
  text-align: center;
}

.branding p {
  margin-top: 10px;
  font-size: 1rem;
}


.tagline{
	font-size: 1.0rem;
}

pre {
	background-color: #ccc;
	padding: 10px;
}

.item-divider {
  background-color: #EEE8D6;
}

.bar-positive, .tabs-positive>.tabs {
  background-color: #417D9A !important;
  border-color:  #417D9A;
}

.item-thumbnail-left img {
  border-radius: 10px;
}

.item h3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #417D9A;
}

.dayhighlight {
  background-color: #9EC6DE;
  border-top: 20px solid #417D9A;
}

.dayhighlight h2 {
  color: #417D9A;
  font-size: 2rem;
  font-weight: 200;
}

/*Detailed Flyer Images - featuredView and concertView  */
.detailFlyer{
  max-width: 100%;
}

/* Profile Photo - Views */
.profile-img {
  position: fixed;
  right: 0px;
  bottom: 0px;
  height: 45px;
}

/* displayName - Views */
.displayName{
  margin-right: 48px;
  color: #fff;
  font-family: serif;
  font-size: 18px;
}

/* Display Logout dropdown -Views */
ul li:hover ul.dropdown{
    display: block;
    background: #f5f5f5;
}
/* Hide Logout dropdown -Views */
ul li ul.dropdown {
    display: none;
    list-style: none;
    background: none;
    text-align: center;
}
/* Display Dropdown when hover over displayName -Views*/
ul li ul.dropdown a:hover{
    color: #fff;
    background: #ef473a;
    text-align: center;
}
/* Style Logout dropdown - Views */
ul li ul.dropdown a{
    display: block;
    padding: 8px 25px;
    margin: auto;
    color: #333;
    text-decoration: none;
}

/* facebook buttion - signIn.html */
.facebook-btn{
  background-color: #5b7dc1;
  color: #fff;
}

/*Beta Flyer - signIn.html */
.flyerbeta{
  max-width: 100%;
  margin: 0 auto;
}

.mySlides {
  display:none;
}

/*.home-content .home-section{
  max-width:100%;
}*/

.w3-center{
  text-align: center;
}

.w3-green{
  max-width: 33.3%;
  background-color: green;
}
.w3-dark-grey{
  max-width: 33.3%;
  background-color: grey;
}
.w3-red{
  max-width: 33.3%;
  background-color: red;
}
.col1{
  float:left;
  width:29.33%;
  position:relative;
  left:68.67%;
  overflow:hidden;
}
.col2{
  float:left;
  width:29.33%;
  position:relative;
  left:72.67%;
  overflow:hidden;
}
.col3{
  float:left;
	width:29.33%;
	position:relative;
	left:76.67%;
	overflow:hidden;
}
.w3-container{
  float:left;
	width:100%;
	position:relative;
	right:33.33%;
	background:#fff689; /* column 1 background colour */
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.row:before, .row:after{
  display: table;
  content: " ";
}
.row::after{
  clear: both;
}
.col-sm-6, .col-md-4{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}


.thumbnail > .hv,
.thumbnail a > .hv{
  display: block;
  max-width: 100%;
  height: auto;
}
.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
       -o-transition: border .2s ease-in-out;
          transition: border .2s ease-in-out;
}
.thumbnail > .hv,
.thumbnail a > .hv {
  margin-right: auto;
  margin-left: auto;
}
.thumbnail .caption {
  padding: 9px;
  color: #333;
}
.caption h3{
  font-size: 12px;
}

@media (min-width: 768px){
  .col-sm-6{
    float: left;
    width: 50%;
  }
}

@media (min-width: 992px){
  .col-md-4{
    float: left;
    width: 33.33333333%;
  }
}
