<ion-view view-title="Concerts">
  <ion-nav-bar class="bar-energized">
  </ion-nav-bar>

  <ion-nav-buttons side="primary">
<!-- admin user can only view  Delete button -->
    <button ng-show="currentUser.type == 'admin'"
      class="button button-icon ion-minus-circled"
      ng-click="data.showDelete = !data.showDelete; data.showReorder = false;">
    </button>
  </ion-nav-buttons>

<!-- Display currentUser name and photo from facebook -->
<ion-nav-buttons side="secondary">
    <ul>
      <li>
        <h6 class="displayName"> {{currentUser.displayName}}</h6>
        <img class="profile-img" ng-src="{{currentUser.photoURL}}" alt="profile photo" ng-click="data.showReorder = !data.showReorder; data.showDelete = false;"/>
        <ul class="dropdown">
          <li ng-click="authObj.$signOut()"><a href="#">Logout</a></li>
        </ul>
      </li>
    </ul>

<!-- admin user can only view Reoreder button -->
  <button ng-show="currentUser.type == 'admin'"
    class="button button-icon ion-navicon"
    ng-click="data.showReorder = !data.showReorder; data.showDelete = false;">
  </button>
</ion-nav-buttons>

<!-- Search bar filtering through concert list  -->
  <div class="bar bar-subheader
    item-input-inset bar-light">
    <label class="item-input-wrapper">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" ng-model="query" placeholder="Search">
    </label>
  </div>

<!-- Content View -->
  <ion-content class="has-subheader">
    <ion-refresher
      on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list
      show-delete="data.showDelete"
      show-reorder="data.showReorder">
      <ion-item ng-class="{'star': item.star}"
      ng-repeat='item in concerts | filter: query'
      class="item-thumbnail-left item-icon-right
        item-text-wrap" href="#/tab/concerts/{{item.shortname}}">
        <img ng-src="img/{{item.shortname}}_tn.jpg"
          alt="{{ item.name }} Photo">
        <h2>{{item.name}}</h2>
        <h3>{{item.reknown}}</h3>
        <p>{{item.bio | limitTo: 100}}
        {{ item.bio.length > 150 ? '&hellip;' : '' }}</p>
        <!-- Star toggle  button on each list item -->
        <button class="button button-clear icon ion-star button-assertive"
          ng-click="toggleStar(item)"
          ng-show="item.star"></button>
        <ion-option-button class="button-calm"
          ng-click="toggleStar(item)">
          <i class="icon ion-star"></i>
        </ion-option-button>
        <!-- Delete button - admin only -->
        <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(item)">
        </ion-delete-button>
        <!-- reorder button - admin only -->
        <ion-reorder-button class="ion-navicon"
          on-reorder="moveItem(item, $fromIndex, $toIndex)">
        </ion-reorder-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
